{% extends "global_layout.html" %}
{% block content %}
{% include "flash_messages.html" %}
{% include "adminpwdmodal.html" %}
{% include "adminnavbar.html" %}

<div class="row">
    <div class="col-md-10">
        <div class="jumbotron p-3">
            <h2>Handlers who have same amount of borrows</h2>
            <br>
        <div class="card">
            <div class="row card-body">
                <table class="table table-striped table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Handler Full Name</th>
                            <th>Handler School</th>
                            <th>Borrows</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for handler in handlers %}
                        <tr>
                            <td> {{handler.handlers}} </td>
                            <td> {{handler.school_name}} </td>
                            <td> {{handler.books_borrowed}} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>



            </div>        
        </div>
    </div>
</div>
</div>               
<br>
<br>
<br>




{% endblock %}