<div class="header-blue">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
      <a class="navbar-brand" href="/adminhome">School Libraries 📚</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/adminhome/handlers">Handlers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminhome/schools">Schools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminhome/backup"> Backup </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminhome/restore" onclick="return confirm('Are you sure you want to restore School Libraries 📚 with last backup file?')"> Restore </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal", data-bs-target="#pwdmodal" href="/adminhome">Change password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/" onclick="return confirm('Are you sure you want to log out?')"> Logout </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <br>
</div>