{% extends "global_layout.html" %}
{% block content %}
{% include "flash_messages.html" %}
{% include "adminpwdmodal.html" %}
{% include "adminnavbar.html" %}


<div class="row">
    <div class="col-md-10">
        <div class="jumbotron p-3">
        <div class="card">
            <div class="row card-body">
                <h5 class="card-title">Stats for School Libraries 📚</h5>
                <br><br>
                <a href="/adminhome/stats/1"> <button class="btn btn-success">
                    3.1.1  </button></a>
                <br> <br>
                <a href="/adminhome/stats/2"> <button class="btn btn-success">
                    3.1.2  </button></a>
                <br><br>
                <a href="/adminhome/stats/3"> <button class="btn btn-success">
                    3.1.3 </button></a>
                <br><br>
                <a href="/adminhome/stats/4"> <button class="btn btn-success">
                    3.1.4 </button></a>  
                <br><br>
                <a href="/adminhome/stats/5"> <button class="btn btn-success">
                    3.1.5 </button></a>
                <br>    <br>
                    <a href="/adminhome/stats/6"> <button class="btn btn-success">
                    3.1.6 </button></a>  
                <br><br>
                    <a href="/adminhome/stats/7"> <button class="btn btn-success">
                    3.1.7 </button></a>         
            </div>        
        </div>
    </div>
</div>
</div>               
<br>
<br>
<br>




{% endblock %}