{% extends "global_layout.html" %}
{% block content %}
{% include "flash_messages.html" %}
{% if user['role'] == "handler" %}
        {% include "handlernavbar.html" %}
    {% else %}
        {% include "usernavbar.html" %}
        {% include "profilemodal.html" %}
    {% endif %}
{% include "pwdmodal.html" %}

{% for review in reviews%}
<div class="row">
    <div class="col-md-10">
        <div class="jumbotron p-3">
        <div class="card">
            <div class="row card-body">
                <h5 class="card-title">{{review.first_name}} {{review.first_name}} - {{review.school_name}}  </h5>
            <div class="form-group">
                <label>Opinion:</label>
                <textarea name="opinion" class="form-control" autocomplete="off" cols="50" rows="8" required="1">{{review.evaluation}}</textarea>               
             </div>
            <br>
            <div class="form-group">
                <label>Rating:</label>
                <input type="text" autocomplete="off" class="form-control" value="{{review.like_scale}} ⭐" readonly>
            </div>

            </div>        
        </div>
    </div>
</div>
</div>               
<br>
<br>
<br>
{% endfor %}



{% endblock %}