{% extends "global_layout.html" %}
{% block content %}
{% include "flash_messages.html" %}
{% if user['role'] == "handler" %}
        {% include "handlernavbar.html" %}
    {% else %}
        {% include "usernavbar.html" %}
        {% include "profilemodal.html" %}
    {% endif %}
{% include "pwdmodal.html" %}

    
<div class="row">
    <h2>Books of our school
    {% if user['role'] == "handler" %}
      <a href="/schoolpage/userhome/books/create"> <button type="button" class="btn btn-success float-end">
        <i class="bi bi-plus-lg"></i>
        </button></a>
        
     {% endif %}
     <br></h2>
     {% if user['role'] == "handler" %} 
     <form action="/schoolpage/userhome/books" method="POST" class="d-flex">
        <input class="form-control me-2" autocomplete="off" type="number" name="book" placeholder="Search Database for ISBN" aria-label="Search" >

        <button class="btn btn-outline-primary" type="submit">Search to Add</button>   
      </form>
    {% endif %}
    <br>
    
    {% for book in books %}
    <div class="col-3">
        <div class="jumbotron p-3">
            <div class="card" id="card-container" style="width: 14rem;">
               <a href="/schoolpage/userhome/books/{{book.ISBN}}/details"> <img src={{book.image}}
                 class="card-img-top"> </a>
                <div class="card-body" id="card">
                    <h6 class="card-title">{{book.title}}</h6>
                    <p>
                        Available Copies: {{book.available_copies}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>


{% endblock %}