{% extends "global_layout.html" %}
{% block content %}
{% include "flash_messages.html" %}
{% if status == "handler" %}
<div class="header-blue">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
      <a class="navbar-brand" href="/schoolpage/userhome">School Libraries 📚</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/schoolpage/userhome/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/schoolpage/userhome/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal", data-bs-target="#pwdmodal" href="/schoolpage/userhome">Change password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/" onclick="return confirm('Are you sure you want to log out?')"> Logout </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <br>
</div>

{% else %}

<div class="header-blue">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
      <a class="navbar-brand" href="/schoolpage/userhome">School Libraries 📚</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/schoolpage/userhome/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal", data-bs-target="#pwdmodal" href="/schoolpage/userhome">Change password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal", data-bs-target="#profilemodal" href="/schoolpage/userhome">Profile Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/" onclick="return confirm('Are you sure you want to log out?')"> Logout </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <br>
</div>


{% endif %}




<h2>{{book.title}}</h2>

<div class="row">
    <div class="col-md-10">
        <div class="jumbotron p-3">
        <div class="card">
            <div class="row card-body">
                <div class="col-4">
                    <img  src="{{book.image}}" style="width: 250px; height: auto;">
                </div>
                    <div class="col-8">
                    {% if status == "handler" %}
                        <form action="/schoolpage/userhome/books/{{book.ISBN}}/details" method="POST">
                        <div class="form-group">
                            <label>ISBN:</label>
                            <input type="number" class="form-control" value="{{book.ISBN}}" autocomplete="off" name="isbn" required="1">
                        </div>
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" class="form-control" value="{{book.title}}" autocomplete="off" name="title" required="1">
                        </div>
                        <div class="form-group">
                            <label>Summary:</label>
                            <textarea name="summary" class="form-control" autocomplete="off" cols="50" rows="8" required="1">{{book.summary}}</textarea>
                            
                        </div>
                        <div class="form-group">
                            <label>Author:</label>
                            <input type="text" class="form-control" value="{{book.author_names}}" autocomplete="off" name="authors" required="1">
                        </div>
                        <div class="form-group">
                            <label>Publisher:</label>
                            <input type="text" class="form-control" value="{{book.publisher}}" autocomplete="off" name="publisher" required="1">
                        </div>
                        <div class="form-group">
                            <label>Number of Pages:</label>
                            <input type="number" class="form-control" value="{{book.page_num}}" autocomplete="off" name="pages" required="1">
                        </div>
                        <div class="form-group">
                            <label>Category:</label>
                            <input type="text" class="form-control" value="{{book.book_categories}}" autocomplete="off" name="category" required="1">
                        </div>
                        <div class="form-group">
                            <label>Language:</label>
                            <input type="text" class="form-control" value="{{book.language_}}" autocomplete="off" name="language" required="1">
                        </div>
                        <div class="form-group">
                            <label>Image:</label>
                            <input type="text" class="form-control" value="{{book.image}}" autocomplete="off" name="image" required="1">
                        </div>
                        <div class="form-group">
                            <label>Available Copies in School:</label>
                            <input type="number" class="form-control" value="{{book.available_copies}}" autocomplete="off" name="copies" required="1">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" name="update">Update Book</button>
                            <button class="btn btn-danger btn-xs" name="delete" type="sublmit"
                                onclick="return confirm('Are you sure you want to Delete?')" > <i class="bi bi-trash"></i>  </button>
                        </div>
                        
                    </form>
                    {% else %}
                    <div class="form-group">
                        <label>ISBN:</label>
                        <input type="number" class="form-control" value="{{book.ISBN}}" autocomplete="off" name="isbn" readonly>
                    </div>
                    <div class="form-group">
                        <label>Title:</label>
                        <input type="text" class="form-control" value="{{book.title}}" autocomplete="off" name="title" readonly>
                    </div>
                    <div class="form-group">
                        <label>Summary:</label>
                        <textarea name="summary" class="form-control" autocomplete="off" cols="50" rows="8" readonly>{{book.summary}}</textarea>
                        
                    </div>
                    <div class="form-group">
                        <label>Author:</label>
                        <input type="text" class="form-control" value="{{book.author_names}}" autocomplete="off" name="author" readonly>
                    </div>
                    <div class="form-group">
                        <label>Publisher:</label>
                        <input type="text" class="form-control" value="{{book.publisher}}" autocomplete="off" name="publisher" readonly>
                    </div>
                    <div class="form-group">
                        <label>Number of Pages:</label>
                        <input type="number" class="form-control" value="{{book.page_num}}" autocomplete="off" name="pages" readonly>
                    </div>
                    <div class="form-group">
                        <label>Category:</label>
                        <input type="text" class="form-control" value="{{book.book_categories}}" autocomplete="off" name="category" readonly>
                    </div>
                    <div class="form-group">
                        <label>Language:</label>
                        <input type="text" class="form-control" value="{{book.language_}}" autocomplete="off" name="language" readonly>
                    </div>
                    <div class="form-group">
                        <label>Available Copies in School:</label>
                        <input type="number" class="form-control" value="{{book.available_copies}}" autocomplete="off" name="copies" readonly>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Reserve</button>
                     </div>

                    {% endif %}
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div id="pwdmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form action="/schoolpage/userhome/pwd" method="POST">
                    <div class="form-group">
                        <label>New Password:</label>
                        <input type="password" class="form-control" name="pwd1" required="1">
                    </div>
                    <div class="form-group">
                        <label>Confirm your Password:</label>
                        <input type="password" class="form-control" name="pwd2" required="1">
                    </div>
                    <div class="form-group">
                       <button class="btn btn-primary" type="submit">Change Password</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                    </div>    
                </form>   
            </div>
        </div>
    </div>
</div>

<div id="profilemodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Profile</h4>
            </div>
            <div class="modal-body">
            {% if status == "teacher"%}
                <form action="/schoolpage/userhome/editprofile" method="POST">
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" class="form-control" name="username" value="{{user[0]}}" required="1">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="text" class="form-control" name="username" value="{{user[1]}}" readonly>
                    </div>
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" class="form-control" name="first_name" value="{{user[2]}}" required="1">
                    </div>
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" class="form-control" name="first_name" value="{{user[2]}}" required="1">
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" class="form-control" name="last_name" value="{{user[3]}}" required="1">
                    </div>
                    <div class="form-group">
                        <label>Birthday:</label>
                        <input type="date" class="form-control" name="birthday" value="{{user[4]}}" required="1">
                    </div>
                    <div class="form-group">
                      <label>Active Borrows:</label>
                      <input type="text" class="form-control" value="{{user[6]}}" readonly>
                  </div>
                    <div class="form-group">
                      <label>Teacher/Student:</label>
                      <input type="text" class="form-control" value="{{user[7]}}" readonly>
                  </div>
                    <div class="form-group">
                       <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                    </div>    
                </form>  
                {% else %}
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" class="form-control" name="username" value="{{user[0]}}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="text" class="form-control" name="username" value="{{user[1]}}" readonly>
                    </div>
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" class="form-control" name="first_name" value="{{user[2]}}" readonly>
                    </div>
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" class="form-control" name="first_name" value="{{user[2]}}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" class="form-control" name="last_name" value="{{user[3]}}" readonly>
                    </div>
                    <div class="form-group">
                        <label>Birthday:</label>
                        <input type="birthday" class="form-control" name="birthday" value="{{user[4]}}" readonly>
                    </div>
                    <div class="form-group">
                      <label>Active Borrows:</label>
                      <input type="text" class="form-control" value="{{user[6]}}" readonly>
                  </div>
                    <div class="form-group">
                      <label>Teacher/Student:</label>
                      <input type="text" class="form-control" value="{{user[7]}}" readonly>
                  </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                    </div>    
                {% endif %}
  
            </div>
        </div>
    </div>
  </div>


{% endblock %}