{% extends "global_layout.html" %}
{% block content %}
{% include "flash_messages.html" %}
{% include "handlernavbar.html" %}
{% include "pwdmodal.html" %}

<h2> Add that book</h2>

<h2>{{book.title}}</h2>

<div class="row">
    <div class="col-md-10">
        <div class="jumbotron p-3">
        <div class="card">
            <div class="row card-body">
                <div class="col-4">
                    <img  src="{{book.image}}" style="width: 250px; height: auto;">
                </div>
                    <div class="col-8">
                        <form action="/schoolpage/userhome/books/{{book.ISBN}}/add" method="POST">
                        <div class="form-group">
                            <label>ISBN:</label>
                            <input type="number" class="form-control" value="{{book.ISBN}}" autocomplete="off" name="isbn" readonly>
                        </div>
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" class="form-control" value="{{book.title}}" autocomplete="off" name="title" readonly>
                        </div>
                        <div class="form-group">
                            <label>Summary:</label>
                            <textarea name="summary" class="form-control" autocomplete="off" cols="50" rows="8" readonly>{{book.summary}}</textarea>
                            
                        </div>
                        <div class="form-group">
                            <label>Author:</label>
                            <input type="text" class="form-control" value="{{book.author_names}}" autocomplete="off" name="author" readonly>
                        </div>
                        <div class="form-group">
                            <label>Publisher:</label>
                            <input type="text" class="form-control" value="{{book.publisher}}" autocomplete="off" name="publisher" readonly>
                        </div>
                        <div class="form-group">
                            <label>Number of Pages:</label>
                            <input type="number" class="form-control" value="{{book.page_num}}" autocomplete="off" name="pages" readonly>
                        </div>
                        <div class="form-group">
                            <label>Category:</label>
                            <input type="text" class="form-control" value="{{book.categories}}" autocomplete="off" name="category" readonly>
                        </div>
                        <div class="form-group">
                            <label>Keyword:</label>
                            <input type="text" class="form-control" value="{{book.key_words}}" autocomplete="off" name="keyword" readonly>
                        </div>
                        <div class="form-group">
                            <label>Language:</label>
                            <input type="text" class="form-control" value="{{book.language_}}" autocomplete="off" name="language" readonly>
                        </div>
                        <div class="form-group">
                            <label>Image:</label>
                            <input type="text" class="form-control" value="{{book.image}}" autocomplete="off" name="image" readonly>
                        </div>
                        <div class="form-group">
                            <label>Choose your copies:</label>
                            <input type="number" class="form-control" autocomplete="off" name="copies" required="1">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Add Book</button>
                         </div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
</div>
</div>


{% endblock %}
