{% extends "global_layout.html" %}
{% block content %}
{% include "flash_messages.html" %}
{% include "handlernavbar.html" %}
{% include "pwdmodal.html" %}

    <div class="row">
    <div class="col-md-12">
        <div class="jumbotron p-3">
            <h2>Running Borrows</h2>
            <br>
            <div class="card" id="card-container">
            <div class="card-body" id="card">    
            <h4>Filter Table: </h4>
            <form action="/schoolpage/userhome/borrows/filter" method="POST">
            <h6> User First Name: <input type="text" autocomplete="off" name="first_name"> </h6>
            <h6> User Last Name: <input type="text" autocomplete="off" name="last_name"> </h6>
            <h6> Show only borrows that were expired for at least  <input type="number" min="0" name="days"> Day(s) </h6>
             <div class="form-group">
                    <button class="btn btn-primary" type="submit">Apply</button>
             </div>
            </form>
            </div>
            </div>
            <br>  <br>         
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Teacher/Student</th>
                                <th>ISBN</th>
                                <th>Title</th>
                                <th>Book borrowed at</th>
                                <th>Book return due to</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for borrow in borrows %}
                            <tr>
                                <td> {{borrow.first_name}} </td>
                                <td> {{borrow.last_name}} </td>
                                <td> {{borrow.role_name}} </td>
                                <td> {{borrow.ISBN}} </td>
                                <td>{{borrow.title}}</td>
                                <td>{{borrow.start_date}} </td>
                                <td>{{borrow.expiration_date}}</td>
                                <td>
                                    <a href="/schoolpage/userhome/borrows/{{borrow.application_id}}/completed"> <button class="btn btn-success btn-xs"> <i class="bi bi-check2"></i>  </button></a>                                  
                                </td>
                            </tr>
                            
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}