{% extends "global_layout.html" %}
{% block content %}
{% include "flash_messages.html" %}
{% include "usernavbar.html" %}
{% include "profilemodal.html" %}
{% include "pwdmodal.html" %}

<style>
.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 40px auto;
  position: relative;
}

.star-rating input {
  display: none;
}

.star-rating > label {
  width: 30px;
  height: 30px;
  font-family: Arial;
  font-size: 30px;
  transition: 0.2s ease;
  color: orange;
}

.star-rating label:hover {
  color: #ff69b4;
  transition: 0.2s ease;
}
.star-rating label:active::before {
  transform:scale(1.1);
}


.star-rating label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}

.star-rating input:checked ~ label:before {
  content:'\2605';
}

@-moz-document url-prefix() {
  .star-rating input:checked ~ label:before {
  font-size: 36px;
  line-height: 21px;
  }
}  
</style>






<div class="row">
    <div class="col-md-12">
        <div class="jumbotron p-3">
            <h2>My History</h2>
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>ISBN</th>
                                <th>Title</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for story in history %}
                            <tr>
                                </td>
                                <td> {{story.ISBN}} </td>
                                <td>{{story.title}}</td>
                                    {% if story.ISBN in revsISBN %}
                                        {% for review in reviews %}
                                            {% if review.ISBN == story.ISBN %}
                                            <td>
                                            <button class="btn btn-success btn-xs"
                                            data-bs-toggle="modal" data-bs-target="#updatemodal"> <i class="bi bi-file-earmark-text"></i>  </button>

                                            <div id="updatemodal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Edit Review</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="/schoolpage/userhome/{{story.ISBN}}/update_review" method="POST">
                                                                <div class="form-group">
                                                                    <label>Booktitle:</label>
                                                                    <input type="text" autocomplete="off" class="form-control" value="{{story.title}}" readonly>
                                                                </div>
                                                                <br>
                                                                <div class="form-group">
                                                                    <label>Opinion:</label>
                                                                    <textarea name="opinion" class="form-control" autocomplete="off" cols="50" rows="8" required="1">{{review.evaluation}}</textarea>
                                                                </div>
                                                                <br>
                                                                    <div class="form-group">
                                                                        <label>Your Rating was:</label>
                                                                        <input type="text" autocomplete="off" class="form-control" value="{{review.like_scale}}/5" readonly>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group">
                                                                        <label>New Rate:</label>
                                                                        <br>                                                                        
                                                                        <div class="star-rating float-start">
                                                                            <input type="radio" name="star_a" value="5" class="star-1" id="star_a-1" />
                                                                            <label class="star-1" for="star_a-1"></label>
                                                                            <input type="radio" name="star_a" value="4" class="star-2" id="star_a-2" />
                                                                            <label class="star-2" for="star_a-2"></label>
                                                                            <input type="radio" name="star_a" value="3" class="star-3" id="star_a-3" />
                                                                            <label class="star-3" for="star_a-3"></label>
                                                                            <input type="radio" name="star_a" value="2" class="star-4" id="star_a-4" />
                                                                            <label class="star-4" for="star_a-4"></label>
                                                                            <input type="radio" name="star_a" value="1" class="star-5" id="star_a-5" />
                                                                            <label class="star-5" for="star_a-5"></label>
                                                                            <span></span>
                                                                            <br>
                                                                        </div>  
                                                                        <br>
                                                                        <br>          
                                                                    </div>   
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    <div class="form-group">
                                                                        <label>Status:</label>
                                                                        {% if review.approval_status == "pending" %}
                                                                        <input type="text" autocomplete="off" class="form-control" value="Posted at {{review.review_date}} - Not approved yet" readonly>
                                                                        {% else %}
                                                                        <input type="text" autocomplete="off" class="form-control" value="Posted at {{review.review_date}} - Approved" readonly>
                                                                        {% endif %}
                                                                    </div>  
                                                                    <div class="form-group">
                                                                   <button class="btn btn-primary" type="submit">Edit Review</button>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                                                                </div>    
                                                            </form>   
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                        </td>
                                        {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <td>
                                    <button class="btn btn-success btn-xs"
                                    data-bs-toggle="modal" data-bs-target="#reviewmodal"> <i class="bi bi-file-earmark-text"></i>  </button>
                                </td>
                                {% endif %}
                            </tr>   

                            <div id="reviewmodal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Review that Book</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/schoolpage/userhome/{{story.ISBN}}/new_review" method="POST">
                                                <div class="form-group">
                                                    <label>Booktitle:</label>
                                                    <input type="text" autocomplete="off" class="form-control" value="{{story.title}}" readonly>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <label>Opinion:</label>
                                                    <textarea name="opinion" class="form-control" autocomplete="off" cols="50" rows="8" required="1"></textarea>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <label>Rate:</label>
                                                    <br>
                                                    <div class="star-rating float-start">
                                                        <input type="radio" name="star_b" value="5" class="star-1" id="star_b-1" />
                                                        <label class="star-1" for="star_b-1"></label>
                                                        <input type="radio" name="star_b" value="4" class="star-2" id="star_b-2" />
                                                        <label class="star-2" for="star_b-2"></label>
                                                        <input type="radio" name="star_b" value="3" class="star-3" id="star_b-3" />
                                                        <label class="star-3" for="star_b-3"></label>
                                                        <input type="radio" name="star_b" value="2" class="star-4" id="star_b-4" />
                                                        <label class="star-4" for="star_b-4"></label>
                                                        <input type="radio" name="star_b" value="1" class="star-5" id="star_b-5" />
                                                        <label class="star-5" for="star_b-5"></label>
                                                        <span></span>
                                                        <br>
                                                    </div>
                                                    <br>
                                                    <br>
                                                </div>
                                                <br>
                                                <br>
                                                <br>
                                                    <div class="form-group">
                                                   <button class="btn btn-primary" type="submit">Post Review</button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                                                </div>    
                                            </form>   
                                        </div>
                                    </div>
                                </div>
                                </div>

                               {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}