{% extends "global_layout.html" %}
{% block content %}
{% include "flash_messages.html" %}
{% include "usernavbar.html" %}
{% include "profilemodal.html" %}
{% include "pwdmodal.html" %}


<form action="/schoolpage/userhome/{{review.ISBN}}/update_review" method="POST">
    <div class="form-group">
        <label>ISBN:</label>
        <input type="text" autocomplete="off" class="form-control" value="{{review.ISBN}}" readonly>
    </div>
    <br>
    <div class="form-group">
        <label>Opinion:</label>
        <textarea name="opinion" class="form-control" autocomplete="off" cols="50" rows="8" required="1">{{review.evaluation}}</textarea>
    </div>
    <br>
        <div class="form-group">
            <label>Your Rating was:</label>
            <input type="text" autocomplete="off" class="form-control" value="{{review.like_scale}} ⭐" readonly>
        </div>
        <br>
        <div class="form-group">
            <label>New Rate:</label>
            <br>                                                                        
            <div class="star-rating float-start">
                <input type="radio" name="star_a" value="5" class="star-1" id="star_a-1" required />
                <label class="star-1" for="star_a-1"></label>
                <input type="radio" name="star_a" value="4" class="star-2" id="star_a-2" />
                <label class="star-2" for="star_a-2"></label>
                <input type="radio" name="star_a" value="3" class="star-3" id="star_a-3" />
                <label class="star-3" for="star_a-3"></label>
                <input type="radio" name="star_a" value="2" class="star-4" id="star_a-4" />
                <label class="star-4" for="star_a-4"></label>
                <input type="radio" name="star_a" value="1" class="star-5" id="star_a-5" />
                <label class="star-5" for="star_a-5"></label>
                <span></span>
                <br>
            </div>  
            <br>
            <br>          
        </div>   
        <br>
        <br>
        <br>
        <div class="form-group">
            <label>Status:</label>
            {% if review.approval_status == "pending" %}
            <input type="text" autocomplete="off" class="form-control" value="Posted at {{review.review_date}} - Not approved yet" readonly>
            {% else %}
            <input type="text" autocomplete="off" class="form-control" value="Posted at {{review.review_date}} - Approved" readonly>
            {% endif %}
        </div>  
        <div class="form-group">
       <button class="btn btn-primary" type="submit">Edit Review</button>
    </div>   
</form>   


{% endblock %}