{% extends "global_layout.html" %}
{% block content %}
{% include "flash_messages.html" %}

<div class="header-blue">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
      <a class="navbar-brand" href="/">School Libraries 📚</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal", data-bs-target="#registermodal" href="/">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal", data-bs-target="#loginmodal" href="/">Login</a>
          </li>
      
        </ul>
      </div>
    </div>
  </nav>
    <br>
</div>

<div id="loginmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form action="/schoolpage/login" method="POST">
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" autocomplete="off" class="form-control" name="username" required="1">
                    </div>
                    <div class="form-group">
                      <label>Password:</label>
                      <input type="password" autocomplete="off" class="form-control" name="password" required="1">
                  </div>
                    <div class="form-group">
                       <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                    </div>    
                </form>   
            </div>
        </div>
    </div>
  </div>

  <div id="registermodal" class="modal fade" role="dialog">s
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">
                <form action="/schoolpage/register" method="POST">
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" autocomplete="off" class="form-control" name="first_name" required="1">
                    </div>
                    <div class="form-group">
                      <label>Last Name:</label>
                      <input type="text" autocomplete="off" class="form-control" name="last_name" required="1">
                  </div>
                  <div class="form-group">
                    <label>Username:</label>
                    <input type="text" autocomplete="off" class="form-control" name="username" required="1">
                </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" autocomplete="off" class="form-control" name="pwd1" required="1">
                    </div>
                    <div class="form-group">
                      <label>Confirm Password:</label>
                      <input type="password" autocomplete="off" class="form-control" name="pwd2" required="1">
                  </div>
                  <div class="form-group">
                    <label>Birthday:</label>
                      <input type="date" autocomplete="off" class="form-control" name="birthday" />
                </div>
                    <label>Role:</label>
                    <br>
                    <input class="form-check-input" type="radio" name="role" id="option1" value="student" checked>
                    <label class="form-check-label" for="option1">
                        Student
                    </label>
                    <br>
                    <input class="form-check-input" type="radio" name="role" id="option2" value="teacher">
                    <label class="form-check-label" for="option2">
                        Teacher
                    </label>
                  <div class="form-group">
                       <button class="btn btn-primary" type="submit">Register</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                    </div>    
                </form>   
            </div>
        </div>
    </div>
  </div>

<h2> {{ school.school_name }} Library </h2>
<br>
<h3> Announcements: </h3>

{% endblock %}