{% extends "global_layout.html" %}
{% block content %}
{% include "flash_messages.html" %}
{% if user['role'] == "handler" %}
<div class="header-blue">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
      <a class="navbar-brand" href="/schoolpage/userhome">School Libraries 📚</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/schoolpage/userhome/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/schoolpage/userhome/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/schoolpage/userhome/reservations">Reservation Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal", data-bs-target="#pwdmodal" href="/schoolpage/userhome">Change password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/" onclick="return confirm('Are you sure you want to log out?')"> Logout </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <br>
</div>

{% else %}  

<div class="header-blue">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
    <a class="navbar-brand" href="/schoolpage/userhome">School Libraries 📚</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/schoolpage/userhome/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal", data-bs-target="#pwdmodal" href="/schoolpage/userhome">Change password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal", data-bs-target="#profilemodal" href="/schoolpage/userhome">Profile Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" onclick="return confirm('Are you sure you want to log out?')"> Logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <br>
</div>

{% endif %}

<div id="pwdmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form action="/schoolpage/userhome/pwd" method="POST">
                    <div class="form-group">
                        <label>New Password:</label>
                        <input type="password" class="form-control" name="pwd1" required="1">
                    </div>
                    <div class="form-group">
                        <label>Confirm your Password:</label>
                        <input type="password" class="form-control" name="pwd2" required="1">
                    </div>
                    <div class="form-group">
                       <button class="btn btn-primary" type="submit">Change Password</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                    </div>    
                </form>   
            </div>
        </div>
    </div>
</div>

<div id="profilemodal" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Profile</h4>
          </div>
          <div class="modal-body">
          {% if user['role'] == "teacher"%}
              <form action="/schoolpage/userhome/editprofile" method="POST">
                  <div class="form-group">
                      <label>Username:</label>
                      <input type="text" class="form-control" name="username" value="{{user['username']}}" required="1">
                  </div>
                  <div class="form-group">
                      <label>Password:</label>
                      <input type="text" class="form-control" name="pwd" value="{{user['pwd']}}" required="1">
                  </div>
                  <div class="form-group">
                      <label>First Name:</label>
                      <input type="text" class="form-control" name="first_name" value="{{user['first_name']}}" required="1">
                  </div>
                  <div class="form-group">
                      <label>Last Name:</label>
                      <input type="text" class="form-control" name="last_name" value="{{user['last_name']}}" required="1">
                  </div>
                  <div class="form-group">
                      <label>Birthday:</label>
                      <input type="date" class="form-control" name="birthday" value="{{user['birthday']}}" required="1">
                  </div>
                  <div class="form-group">
                    <label>Active Reservations:</label>
                    <input type="text" class="form-control" value="{{user['active_reservations']}}" readonly>
                </div>
                  <div class="form-group">
                    <label>Active Borrows:</label>
                    <input type="text" class="form-control" value="{{user['active_borrows']}}" readonly>
                </div>
                  <div class="form-group">
                    <label>Teacher/Student:</label>
                    <input type="text" class="form-control"  value="{{user['role']}}" readonly>
                </div>
                <div class="form-group">
                  <label>School:</label>
                  <input type="text" class="form-control"  value="{{user['school_name']}}" readonly>
              </div>
                  <div class="form-group">
                     <button class="btn btn-primary" type="submit">Update</button>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                  </div>    
              </form>  
              {% else %}
              <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control" value="{{user['username']}}" readonly>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="text" class="form-control" value="{{user['pwd']}}" readonly>
            </div>
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" class="form-control"  value="{{user['first_name']}}" readonly>
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" class="form-control"  value="{{user['last_name']}}" readonly>
            </div>
            <div class="form-group">
                <label>Birthday:</label>
                <input type="date" class="form-control" value="{{user['birthday']}}" readonly>
            </div>
            <div class="form-group">
              <label>Active Reservations:</label>
              <input type="text" class="form-control" value="{{user['active_reservations']}}" readonly>
          </div>
            <div class="form-group">
              <label>Active Borrows:</label>
              <input type="text" class="form-control" value="{{user['active_borrows']}}" readonly>
          </div>
            <div class="form-group">
              <label>Teacher/Student:</label>
              <input type="text" class="form-control"  value="{{user['role']}}" readonly>
          </div>
          <div class="form-group">
            <label>School:</label>
            <input type="text" class="form-control"  value="{{user['school_name']}}" readonly>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            </div>    
              {% endif %}

          </div>
      </div>
  </div>
</div>


{% endblock %}